<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLServer"
         connectionString="Data Source=54.165.49.155,1433\sqlexpress;
                           Initial Catalog=Exemplo;User ID=sa;
                           Password=tradeProduto1" />
  </connectionStrings>
</configuration>